// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

// Scss starts here!

a {
  cursor: pointer;
  color: $link-color;
  transition: opacity 0.24s ease 0s;
}

a:visited {
  color: $link-color;
}

a:hover {
  opacity: 0.70;
}

a:active {
  outline: 0;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.wrapper-content {
  padding: 0 15px;
}

.width-medium {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  margin: 1em 0 4em;
  @extend .clearfix;
  h1 {
    margin-bottom: 32px;
    > img {
      width: auto;
      height: 64px;
      max-width: 100%;
      vertical-align: top;
    }
  }
}

.section {
  margin-bottom: 4em;
}

#site-canvas {
  margin: 0 auto;
  max-width: 1000px;
  line-height: 1.6;
  font-size: 14px;
  font-family: $base-font-family;
}

legend {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: .3em;
  font-size: .9em;
  text-transform: uppercase;
}

.alt-date {
  select {
    float: left;
    width: 20%;
    margin-right: 5px;
  }
}

.project-display, .indicator-display {
  ul {
    label {
      font-weight: bold;
      margin-right: 10px;
    }
    label:after {
      content: ": "
    }

    li {
      margin: 10px;
    }
  }
}

.large textarea {
  min-height: 400px;
}

input {
  background: #fff;
  border: 1px solid $background-color;
  border-radius: $base-border-radius;
  padding: .5em;
  display: block; 
  min-width: 18em;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 2.5em;
  input, textarea {
    margin-bottom: 2em;
  }
}

label {
  margin-bottom: .4em;
}

.multiform-group {
  margin-bottom: 3em;
  .btn-group {
    margin-top: 1.9em;
    >.btn:lastchild {
      border-radius: $base-border-radius;
    }
  }
}

.multiform-group_item {
  margin-bottom: 1em;
  input {
    margin-bottom: 1em;
  }
}

.form-block {
  .form-group { 
    margin-bottom: 1em;
    input, textarea {
      margin-bottom: 1em;
    }
  }
}

.field-half {
  .form-group {
    width: 50%;
    float: left;
    margin-bottom: 0;
    &:first-of-type {
      padding-right: 15px;
    }
    &:last-of-type {
      padding-left: 15px;
    }
  }
}

.columns-small {
  input {
    min-width: auto;
  }
  .field-object {
    legend {
      display: none;
    }
  }
}

.login {
  border: 1px solid darken($background-color, 5%);
  padding: 3em 5em 3.5em;
  margin: 0 auto;
  max-width: 40%;
  .btn {
    margin-top: .7em;
  }
}

.message-error {
  color: $danger-color;
  margin-bottom: 1em;
  display: block;
}

.field-description {
  font-size: .86em;
  color: darken($background-color, 30%);
  margin-top: -.6em;
  margin-bottom: .3em;
}
