/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
  @include user-select(none);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-width: 2rem;
  background: none; 
  text-shadow: none;
  border: 0;
  border-radius: $base-border-radius;
  font-weight: $base-font-bold;
  cursor: pointer;

  /* States */

  &:hover {
    opacity: 0.7;
  }

  .drop--open > &,
  &.button--active,
  &:active {
    z-index: 2;
    transform: none;
  }

  &, &:focus {
    outline: none; // This causes usability problems. Needs fixing.
  }

  /* Icon handling */
  &::before, &::after,
  [class^="collecticons-"], [class*=" collecticons-"] {
    font-size: 1rem;
  }
  &::before { margin-right: 0.375rem; }
  &::after { margin-left: 0.375rem; }

  &::before,
  &::after,
  > * {
    vertical-align: top;
    display: inline-block;
    line-height: inherit !important;
  }

  /* Animation */
  transition: opacity 0.24s ease 0s;
}


/* Button color modifiers
   ========================================================================== */

/* Base */

.button--base {
  @include button-variation("filled", "dark", $base-color);
}

/* Base Bounded */

.button--base-bounded {
  @include button-variation("bounded", null, $base-color);
}

.button--base-unbounded {
  @include button-variation("unbounded", null, $base-color);
}

/* Primary */

.button--primary {
  @include button-variation("filled", "dark", $primary-color);
}

/* Primary Bounded */

.button--primary-bounded {
  @include button-variation("bounded", null, $primary-color);
}

/* Button size modifiers
   ========================================================================== */

/* Small (24px) */

.button--xsmall,
.button-group--xsmall .button {
  line-height: 1rem;
  font-size: 0.675rem;
  padding: 0.15rem 0.25rem;
  min-width: 1.5rem;
}

.button--small,
.button-group--small .button {
  line-height: 1.25rem;
  font-size: 0.875rem;
  padding: 0.125rem 0.5rem;
  min-width: 1.5rem;
}

/* Medium (32px)
   Default
*/

.button--medium,
.button-group--medium .button {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-width: 2rem;
}

/* Large (40px) */

.button--large,
.button-group--large .button {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  min-width: 2.5rem;
}

/* XLarge (48px) */

.button--xlarge,
.button-group--xlarge .button {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  min-width: 3rem;
}


/* Button contaning icons & icons modifiers
   ========================================================================== */

.button--text-hidden {
  &::before,
  &::after {
    margin: 0;
  }
  :not(.button-group) & {
    padding-left: 0;
    padding-right: 0;
  }
}


/* Button misc modifiers
   ========================================================================== */

.button--block {
  display: block;
  width: 100%;
}

.button--semi-fluid {
  min-width: 16rem;
}

/* ==========================================================================
   Button groups
   ========================================================================== */

.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  > .button {
    display: block;
    position: relative;
    margin: 0;
  }
}

/* Horizontal */

.button-group--horizontal {
  > .button {
    float: left;
  }
  > .button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  > .button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  > .button + .button {
    margin-left: -2px;
  }
}

/* Vertical */

.button-group--vertical {
  > .button {
    clear: both;
    width: 100%;
    border-radius: $base-border-radius;
    &:hover {
      z-index: 2;
    }
  }
  > .button:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  > .button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  > .button + .button {
    margin-top: -2px;
  }
}

.button--filter-clear {
  text-decoration: underline;
  color: $base-font-color;
  font-weight: $base-font-regular;
}

.button--secondary {
  background-color: $tertiary-color;
  color: $base-color;
}

.button-section-header {
	float: right;
}

.array-item-move-up, .array-item-move-down {
  display: none;
}
