/* ==========================================================================
   Tables
   ========================================================================== */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $global-spacing;

  th, td  {
    padding: 0.75rem 0.5rem;
    vertical-align: top;
    text-align: left;
  }

  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }

  th:last-child,
  td:last-child {
    padding-right: 1rem;
  }

  tbody tr:first-of-type {
    td {
      border-top: 0;
    }
  }

  thead th {
    @extend .heading-alt;
    font-size: 0.875rem;
    line-height: 1.25rem;
    vertical-align: bottom;
    box-shadow: inset 0 -4px 0 0 $base-alpha-color;
    border-top: 0;
    border-bottom: 0;
    a {
      display: inline-block;
      &.table__sort:after {
        font-size: 1rem;
        margin-left: 0.375rem;
        vertical-align: top;
        display: inline-block;
        line-height: inherit !important;
      }
      // &.table__sort--none:after {
      //   @extend %collecticons-sort-none;
      // }
      // &.table__sort--asc:after {
      //   @extend %collecticons-sort-asc;
      // }
      // &.table__sort--desc:after {
      //   @extend %collecticons-sort-desc;
      // }
    }
    a, a:visited, a:hover {
      color: inherit;
    }
  }
}

.table-edit {
  display: block;
  font-size: .8em;
}

.form-control {
  font-size: .95em;
}