/* Colors
   ========================================================================== */

$base-color: #2B2342;                                   //
$primary-color: #55CBC9;                                // 
$secondary-color: #FFD100;                              // 
$tertiary-color: #E9E9E9;
$background-color: #F2F2F2;

/* State colors */

$success-color: #7BDC78;                                // Nephritis (Green)
$warning-color: #FFD100;                                // Orange
$danger-color: #e74c3c;                                 // Alizarin (Red-ish)
$info-color: #2980b9;                                   // Belize Hole (Blue)

/* Helper colors */

$link-color: $base-color;
$base-alpha-color: rgba($base-color, 0.12);
$base-semi-alpha-color: rgba($base-color, 0.08);

/* Infographic colors */

$infographic-color-a: #F8B400;
$infographic-color-b: #F8634E;
$infographic-color-c: #A65890;


/* Typography
   ========================================================================== */

$root-font-size: 16px;

$base-font-color: #9B9B9B;
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;  
$base-font-bold: 700;
$base-font-weight: $base-font-regular;
$base-font-size: 1rem;
$base-line-height: 1.5;

$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

$heading-font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-regular: 400;
$heading-font-bold: 700;
$heading-font-weight: $heading-font-bold;

/* Decoration
   ========================================================================== */

/* Border radius */

$base-border-radius: 0.25rem;
$full-border-radius: 60rem;

/* Sizing, spacing and media queries
   ========================================================================== */

/* Spacing */

$global-spacing: 1rem;

/* Rows */

$row-min-width: 320px;
$row-max-width: 1280px;
$jeet-max-width: $row-max-width; // reset jeet.gs max width
